body{
font-family: Arial, Helvetica, sans-serif;
color: rgb(34, 34, 34);
}

.container{
    width: 900px;
    margin: 0 auto;
}

.foto-perfil{
    border: 2px solid red;
    margin: 30px;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0)
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2{
    margin-top: 0;
    color: rgb(127 127 127);
    font-weight: 100;
    letter-spacing: -1px;
}


