body{
    font-family:  'Manuale', serif;
color: rgb(34, 34, 34);
font-size: 20px;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.profile {
text-align: center;
}

.foto-perfil{
    border: 2px solid red;
    margin: 30px 30px 0 30px;
    border-radius: 50px;
    width: 200px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0)
}

h1{
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2{
    margin-top: 0;
    color: rgb(127 127 127);
    font-weight: 100;
    letter-spacing: -1px;
}

h3{
    margin-left: 27px;
}

.social-links{
    text-decoration: none;
}

.icones-das-logos{
    width: 20px;
    height: auto;
}

.facebook{
    margin: 0 15px 0 15px;
}


